@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


.gallery-wrapper {
    background: rgba(0,0,0,0.64);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    .inner-wrapper {
        height: 100%;
        width: 100%;
        display: grid;
        padding: 1rem;
        place-items: center;
        img {
            opacity: 0;
            max-height: 90vh;
            transition: all 250ms ease;
            -webkit-transition: all 250ms ease;
            .fade-in {
                animation: fadeIn 500ms ease forwards;
                -webkit-animation: fadeIn 500ms ease forwards;
            }
        }
    }
}


.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, min-max(250px, 1fr));
    grid-auto-rows: repeat(10px);
    gap: 4px;
    img {
        cursor: pointer;
    }
}
