@keyframes fadeIn {
    from {
        filter: opacity(0);
        -webkit-filter: opacity(0);
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
    }
    to {
        filter: opacity(1);
        -webkit-filter: opacity(1);
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
}

.spin {
    box-shadow: 2px 2px 20px -15px rgba(255,255,255,1);
    cursor: pointer;
    position: absolute;
    top: 3.0rem;
    right: 1rem;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.75);
    transition: all 500ms ease;
    -webkit-transiton: all 500ms ease;
    z-index: 2;
    &:hover {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
    }
}


.gallery-wrapper {
    background: rgba(0,0,0,0.75);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    .inner-wrapper {
        height: 100%;
        max-width: 1366px;
        margin: auto;
        min-height: 90vh;
        width: 100%;
        display: grid;
        padding: 0;
        place-items: center;
        position: relative;
        text-align: center;
        z-index: 1;
        img {
            margin: 0 auto;
             max-height: 90vh;
            transition: all 250ms ease;
            -webkit-transition: all 250ms ease;
        }
        #prevSlide,
        #nextSlide {
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: all 250ms ease;
            -webkit-transition: all 250ms ease;
            z-index: 1;
            &:hover {
                opacity: 0.75;
                filter:blur(0.0125rem);
            }
        }
        #prevSlide {
            left: 25px;
        }

        #nextSlide {
            right: 25px;
        }
    }
}


.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, min-max(250px, 1fr));
    grid-auto-rows: repeat(10px);
    gap: 4px;
    img {
        cursor: pointer;
    }
}


.fade-in {
    animation: fadeIn 1250ms ease forwards;
    -webkit-animation: fadeIn 1250ms ease forwards;
    border-radius: 10px;
    box-shadow: 2px 2px 20px -12px rgba(0,0,0,1.0);
}
